<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- raceInformationのMapperXmlファイルです -->
<mapper namespace="com.demo.repository.CategoryMapper" >

    <select id="selectAll" resultType="com.demo.entity.Category">
        SELECT
            id
            ,name
            ,created_by
            ,created_date
            ,updated_by
            ,updated_date
        FROM
            category
    </select>

</mapper>
