<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- raceInformationのMapperXmlファイルです -->
<mapper namespace="com.demo.category.repository.CategoryMapper" >

    <!--カテゴリを全件取得する-->
    <select id="selectAll" resultType="com.demo.category.entity.Category">
        SELECT
            id
            ,name
            ,created_by
            ,created_date
            ,updated_by
            ,updated_date
        FROM
            category
    </select>

    <!--カテゴリを新規作成する-->
    <insert id="insert" parameterType="com.demo.category.entity.Category">
        INSERT INTO category
        (name, created_by, created_date, updated_by, updated_date)
        VALUES
        (
        #{name}
        ,#{createdBy}
        ,#{createdDate}
        ,#{updatedBy}
        ,#{updatedDate}
        )
    </insert>

    <delete id="delete">
        DELETE FROM category
        WHERE id = #{id}

    </delete>

</mapper>
