<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.demo.setting.repository.BankAccountMonthlyMapper" >

    <insert id="insert" parameterType="com.demo.setting.model.BankAccountMonthlyModel">
        <!-- テーブルにデータを挿入するSQL文 -->
        INSERT INTO bank_account_monthly (
             target_ym
            ,user_id
            ,type
            ,name
            ,balance
            ,account_id
            ,created_by
            ,created_date
            ,updated_by
            ,updated_date
        ) VALUES (
             #{targetYm}
            ,#{userId}
            ,#{type}
            ,#{name}
            ,#{balance}
            ,#{accountId}
            ,#{createdBy}
            ,#{createdDate}
            ,#{updatedBy}
            ,#{updatedDate}
        )
    </insert>

    <select id="selectByTargetYm" resultType="com.demo.setting.model.BankAccountMonthlyModel">
        SELECT
             target_ym
            ,user_id
            ,account_id
            ,type
            ,name
            ,balance
            ,created_by
            ,created_date
            ,updated_by
            ,updated_date
        FROM
            bank_account_monthly
        WHERE
            target_ym = #{targetYm}
            AND user_id = #{userId}
            AND account_id = #{accountId}
    </select>

    <update id="updateBankAccountMonthly">
        UPDATE
            bank_account_monthly
        SET
              balance = #{balance}
            , updated_by = #{userId}
            , updated_date = #{updatedDate}
        WHERE
            target_ym = #{targetYm}
            AND user_id = #{userId}
            AND account_id = #{accountId}
    </update>

</mapper>