/* ナビゲーションバーに適用するCSSです */

/* header 全体の横並びと余白の設定 */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #2ec4b6; /* 背景色を調整 */
}

/* h1 と li の余白設定 */
header h1 {
    margin: 0;
    font-size: 24px;
    color: white;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header li {
    display: inline-block;
    margin-left: 20px; /* 横並びのアイテム間に適度な余白を追加 */
}

/* リンクのスタイル */
header a {
    text-decoration: none;
    color: white; /* リンクの文字を白に設定 */
    font-size: 16px;
}

header a:hover {
    color: #0056b3;
}


/* ここからナビゲーションバーのCSS */

nav {
background-color: #2ec4b6;
 color: white;
 padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around; /* ナビゲーションバーの等分配置 */
}

nav li {

}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}