<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>カテゴリ</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/navigation.css">
</head>
<body>

<!--ヘッダ開始-->
<div th:insert="navFrag::header"></div>
<!--ヘッダ終了-->

<!--カテゴリ入力開始-->
<main>
    <form th:action="@{/category/newCreate}" method="post">

        <!-- 名称 -->
        <label for="name">カテゴリ名:</label>
        <input type="text" id="name" name="name">

        <button>追加</button>
    </form>
</main>
<!--カテゴリ入力終了-->

<table>
    <thead>
    <tr>
        <th>名称</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category : ${categoryUIs}">
        <form th:action="@{/category/delete}" method="post">
            <input type="hidden" th:value="${category.id}" name="id">
            <td th:text="${category.name}" class="name">行1, 列1</td>
            <td><button>削 除</button></td>
        </form>
    </tr>
    </tbody>
</table>


</body>
</html>