<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ホーム画面</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/navigation.css">
</head>
<body>

<!--ヘッダ開始-->
<div th:insert="navFrag::header"></div>
<!--ヘッダー終了-->

<!--タイトル開始-->
<div id="title">
    <h2 id="month" th:text="${titleMonth}">2023/12</h2>
    <h2 id="subtitle">利用料金</h2>
    <h2 id="sum">---</h2>
    <!--年月選択開始-->
    <form th:action="@{/home}" method="post">
        <select id="targetMonth" name="targetMonth">
            <option th:each="month : ${months}"
                    th:text="${month}"
                    th:value="${month}"
                    th:selected="${month == titleMonth}">yyyy/mm</option>
        </select>
        <button>変更</button>
    </form>
    <!--年月選択終了-->
</div>
<!--タイトル終了-->


<section>
    <div id="withdrawal" th:each="withdrawal : ${withdrawals}">
        <h2 th:text="${withdrawal.bankName}"></h2>
        <h2 th:text="${#numbers.formatInteger(withdrawal.sumPrice, 0, 'COMMA')}"></h2>
    </div>


</section>

<!--テーブル開始-->
<table>
    <thead>
        <tr>
            <th>名称</th>
            <th>値段</th>
            <th>カテゴリ</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
            <tr th:each="item : ${items}">
                <form th:action="@{/home/delete}" method="post">
                    <input type="hidden" th:value="${item.id}" name="id"/>
                    <td th:text="${item.name}" class="name">行1, 列1</td>
                    <td th:text="${#numbers.formatInteger(item.price, 0, 'COMMA')}" class="price">行1, 列2</td>
                    <td th:text="${item.category}" class="category">行1, 列3</td>
                    <td><button>削除</button></td>
                </form>
            </tr>
    </tbody>
</table>
<!--テーブル終了-->

<!--<footer>
    <h5>copyLight Toba</h5>
</footer>-->

<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/searchCount.js}"></script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
</body>
</html>