<!-- header.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Fragment Example</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<div th:fragment="header">
    <!--ヘッダー開始-->
    <header>
        <h1 th:text="'ようこそ、' + ${session.user.userId} + 'さん'"></h1>
    </header>
    <!--ヘッダ終了-->

    <!--ナビゲーションバー開始-->
    <nav>
        <ul>
            <li><a th:href="@{/home}">ホーム</a></li>
            <li><a th:href="@{/registration}">登録</a></li>
            <li><a th:href="@{/category}">カテゴリ</a></li>
            <li><a th:href="@{/setting}">設定</a></li>
            <li><a th:href="@{/dashboard}">ダッシュボード</a></li>
            <li><a th:href="@{/logout}">ログアウト</a></li>
        </ul>
    </nav>
    <!--ナビゲーションバー終了-->
</div>

</body>
</html>