<!-- header.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Fragment Example</title>
</head>
<body>

<div th:fragment="header">
    <!--ヘッダー開始-->
    <header>
        <h1>家計簿アプリ</h1>
    </header>
    <!--ヘッダ終了-->

    <!--ナビゲーションバー開始-->
    <nav>
        <ul>
            <li><a th:href="@{/home}">ホーム</a></li>
            <li><a th:href="@{/registration}">登録</a></li>
            <li><a th:href="@{/category}">カテゴリ</a></li>
            <li><a th:href="@{/setting}">設定</a></li>
        </ul>
    </nav>
    <!--ナビゲーションバー終了-->
</div>

</body>
</html>