<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ホーム画面</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/registration.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/navigation.css">
</head>
<body>

<!--item登録画面用のHTMLです-->

<!--ヘッダ開始-->
<div th:insert="navFrag::header"></div>
<!--ヘッダ終了-->

<!--登録部分開始-->
<div class="container bg-light text-emphasis-light">
    <div class="title-section mt-3">
        <h4 id="registration-title">要素を登録</h4>
    </div>

    <form class="row" th:action="@{/registration/spending}" method="post">
        <!-- 名称 -->
        <div id="name-section" class="col-md-3">
            <label for="name">名 称</label>
            <input type="text" id="name" name="name" class="form-control">
        </div>

        <!-- 金額 -->
        <div id="price-section" class="col-md-3">
            <label for="price">金 額</label>
            <input type="text" id="price" name="price" class="form-control">
        </div>

        <!-- カテゴリ -->
        <div id="category-section" class="col-md-3">
            <label for="categorySelect">カテゴリ</label>
            <select id="categorySelect" name="categoryId" class="form-control">
                <option th:each="category : ${categories}" th:text="${category.name}" th:value="${category.id}">
                    CategoryName
                </option>
            </select>
        </div>

        <!-- 対象日 -->
        <div id="date-section" class="col-md-3">
            <label for="targetDate">対象日:</label>
            <input type="date" id="targetDate" name="targetDate" class="form-control">
        </div>

        <!--銀行選択-->
        <div id="bank-section" class="col-md-12">
            <div>引き落とされる口座を選択してください</div>
            <div class="form-check" th:each="bank : ${bankAccounts}">
                <input type="radio" th:value="${bank.id}" name="bankSelectId" class="form-check-input" />
                <label th:text="${bank.name}" class="form-check-label"></label>
            </div>
        </div>
        <div class="text-center col-md-12 mb-3">
            <button type="submit" id="item-submit" class="btn btn-primary">登 録</button>
        </div>
    </form>

</div>
<!--登録部分終了-->

</body>
</html>