<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ホーム画面</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/navigation.css">
</head>
<body>

<!--ヘッダ開始-->
<div th:insert="navFrag::header"></div>
<!--ヘッダ終了-->

<!--登録部分開始-->
<main>
    <form th:action="@{/registration/spending}" method="post">
        <!-- 名称 -->
        <label for="name">名称:</label>
        <input type="text" id="name" name="name">
        <!-- 金額 -->
        <label for="price">金額:</label>
        <input type="text" id="price" name="price">
        <!-- カテゴリ -->
        <label for="categorySelect">カテゴリ:</label>
        <select id="categorySelect" name="categoryId">
            <option th:each="category : ${categories}" th:text="${category.name}" th:value="${category.id}">
                CategoryName
            </option>
            <!-- 他のカテゴリを追加 -->
        </select>
        <!-- 対象日 -->
        <label for="targetDate">対象日:</label>
        <input type="date" id="targetDate" name="targetDate">
        <!--銀行選択-->
        <th:block th:each="bank : ${bankAccounts}">
            <div th:text="${bank.name}"></div>
            <input type="radio" th:value="${bank.id}" name="bankSelectId"/>
        </th:block>
        <br />
        <button>記 録</button>
    </form>
</main>
<!--登録部分終了-->

</body>
</html>