<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ホーム画面</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/css/setting.css">
</head>
<body>

<!--ヘッダ開始-->
<div th:insert="navFrag::header"></div>
<!--ヘッダ終了-->

<!--口座登録-->
<div class="container">
    <div class="row">
        <div class="col-12 bg-light text-emphasis-light">
            <div class="title-section mt-3">
                <h4>口 座</h4>
            </div>
            <form class="row" th:action="@{/setting/account/registration}" method="post">

                <!--名称-->
                <div class="col-md-6">
                    <label for="name">名 称:</label>
                    <input type="text" value="" name="name" id="name" class="form-control" />
                </div>
                <!--名称終了-->

                <!--残高入力-->
                <div class="col-md-6">
                    <label for="balance">残高:</label>
                    <input type="text" value="" name="balance" id="balance" class="form-control" />
                </div>
                <!--残高入力終了-->

                <!--口座タイプ-->
                <div class="col-md-12">
                    <label for="bank"></label>
                    銀行：<input type="radio" value="1" name="type" id="bank" class="form-control" />

                    <label for="security"></label>
                    証券：<input type="radio" value="2" name="type" id="security" class="form-control" />
                </div>
                <!--口座タイプ終了-->



                <div class="text-center col-md-12 mt-3 mb-3">
                    <button type="submit" class="btn btn-primary">登 録</button>
                </div>
                <!--残高入力終了-->

            </form>
        </div>
    </div>
</div>
<!--口座登録終了-->

<!---->
    <table>
        <thead>
        <tr>
            <th>口座名</th>
            <th>口座タイプ</th>
            <th>残 高</th>
            <th>操 作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="account : ${accounts}">
            <form th:action="@{#}" method="post">
                <input type="hidden" th:value="${account.id}" name="id"/>
                <td th:text="${account.accountName}" class="name">行1, 列1</td>
                <td th:text="${account.accountTypeName}" class="typeName">行1, 列1</td>
                <td th:text="${#numbers.formatInteger(account.balance, 0, 'COMMA')}" class="balance">行1, 列2</td>
                <td><button class="btn btn-danger btn-sm">削 除</button></td>
            </form>
        </tr>
        </tbody>
    </table>


</body>
</html>